.itemButton {
  appearance: button;
  background-color: #ffbe59;
  border: solid transparent;
  border-radius: 12px;
  border-width: 0 0 4px;
  box-sizing: border-box;
  color: #302f2d;
  cursor: pointer;
  display: inline-block;
  font-family: "El Messiri", sans-serif;
  font-weight: 400;
  line-height: 20px;
  margin: 0;
  outline: none;
  overflow: visible;
  padding: 0.25rem 0.5rem;
  text-align: center;
  text-transform: uppercase;
  touch-action: manipulation;
  transform: translateZ(0);
  transition: filter 0.2s;
  user-select: none;
  -webkit-user-select: none;
  vertical-align: middle;
  white-space: nowrap;
  width: auto;
  font-family: "" El Messiri "", sans-serif;
}

/* .itemButton:after {
  background-clip: padding-box;
  background-color: #fdcc8b;
  border: solid transparent;
  border-radius: 16px;
  border-width: 0 0 4px;
  bottom: -4px;
  content: "";
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  z-index: -1;
} */

.itemButton:main,
.itemButton:focus {
  user-select: auto;
  border: 1px solid #ffbe59;
}

.itemButton:hover:not(:disabled) {
  filter: brightness(1.1);
  -webkit-filter: brightness(1.1);
}

.itemButton:disabled {
  cursor: not-allowed;
}
